
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 70px;
  padding-left: 70px;
  font-family: "Times New Roman";
  font-size: large;
  text-transform: capitalize;
  margin-top: 1.5%;
  margin-bottom: 10px;
  min-width: 200px;
}

.push {
	margin-right: auto;
}

.items {
	display: inline-block;
	color: #273B4A;
}

/* works-tab sub-menu (visible on hover)*/
/*.home_sub_men {
  position: absolute;
  display: block;
  margin: auto;
  
  left: inherit;

  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 5px 15px 5px 5px;
  list-style: none;
  color: #273B4A;
}*/

.nineties_sub_men{
  position: absolute;
  display: block;
  margin: auto;
  
  left: inherit;

  background-color: white;
  border-radius: 5px;
  padding: 5px 15px 5px 5px;
  list-style: none;
  color: #273B4A;
}

.works + div {
   visibility: hidden;
   transition: 0s;
}

.works:hover + div {
   visibility: visible;
}

.sub_menu_works:hover {
 visibility: visible; 
}

li {
  margin: 5px;
  background-color: none;
}

 ul .move 
 {
    transition: 0.5s;
 }

 ul .move:hover {
  transform: translate(10px);
 }

.padd {
	margin-left: 20px;
}

/* navigation bar items as links */
.link:link {
	color: #273B4A;
}

.link:visited {
	color: #273B4A;
}

.link:hover {
  color: rgb(243, 60, 183);
}

.link {
	text-decoration: none;
}

#logo {
	color:#29516D;
  word-wrap: normal;
}


@media only screen and (max-width: 720px) {

  .menu {
    flex-direction: column;
    align-items: flex-start;
    width: 340px;
     min-width: 340px;
  }

  .works {
    margin-left: 120px;
  }

  .push {
  margin-right: 0;
}

 .items {
  margin-bottom: 15px;
  margin-left: 0;
 }

 .backcolor
 {
   background-color: rgb(255, 255, 255, 0.6);
   border-radius: 5px;
   padding: 5px;
 }

 .move 
 {
    transition: 0.5s;
 }

 .move:hover {
  transform: translate(10px);
 }
}
